<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
   I graduated from Texas A&M with a bachelor of science in Computer Engineering with a minor in math. 
   I enjoy learning new languages/frameworks, designing/building new projects from scratch, and automating everything.
</br></br>
   Currently I am a Software Engineer at NCR. My day to day consist of working on new features, fixing future bugs, and reaserching new technologies for future projects. 
   I mainly work in C# on Android, ASP.NET, WinForms, and WCF. I try to automate everything within reason. I dabble in web apps powered by Flask, and IOT projects.
</div>